
:root{
    --primary-color: #ee4d2d;
    --text-primary: rgb(39, 38, 38);
}

.category{
    margin-top: 10px;
}
.category__user{
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
}
.category__user::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    border-bottom: 1px dotted rgb(227, 224, 224);

}
.category__img{
    border-radius: 50%;
    width: 50px;
}
.category__information{
    margin: 0 8px;
}
.category__name{
    font-weight: 700;
}
.category__edit{
    color: #9b9b9b;
}
.category__icon{
    padding: 0 4px;
    font-size: 13px;
}
.myAccount{
    margin-top: 27px;
}
div .myAccount__icon{
    padding-bottom: 6px;
}
.myAccount__icon{
    color:#1655b6;
    margin: 0 8px;
}

.myAccount__text{
    color: var(--text-primary);
}


.myAccount__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 26px;
}
.myAccount__item{
    padding: 6px;
    color: rgb(93, 92, 92);
}

.myAccount__icon-list{
    color:#1655b6;
    margin: 0 10px;
}
.myAccount__icon-bell{
    color: var(--primary-color);
    margin: 0 9px;
    
}
.myAccount__icon-ticket{
    color: var(--primary-color);
    margin: 0 7.6px;
}

.myAccount__icon-coin{
    color: #eda500;
    margin: 0 9px;
}
.myAccount__icon-bell,.myAccount__icon-coin
,.myAccount__icon-list,.myAccount__icon-ticket{
    padding: 6px 0;
}
.myAccount__link{
    
    color: rgb(120, 118, 118);
    text-decoration: none;
}
.myAccount__link:hover{
    color: var(--primary-color);
}
.myAccount__link-list{
    
    color: var(--text-primary);
    text-decoration: none;
}
.myAccount__link-list:hover{
    color: var(--primary-color);
}
.myAccount__item-active{
    color: var(--primary-color);
}

.follow__menu{
    border-radius: 3px;
    background-color: white;
}
.follow__list{
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.follow__item{
    width: 100%;
}
.follow__link{
    text-align: center;
    width: 100%;
    font-size: 18px;
    display: block;
    padding: 16px 0;
    text-decoration: none;
    color: var(--text-primary);
}
.follow__link:hover{
    color: var(--primary-color);
}
.follow__link:focus{
    border-bottom: 2px solid var(--primary-color);   

}
.follow__link-active{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);   
}
.search{
    border-radius: 3px;
    overflow: hidden;
    background-color: #eaeaea;
    display: flex;
}
.search__icon-link{
    cursor: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
}
.search__icon{
    color: var(--text-primary);
    font-weight: 600;
    font-size: 20px;
  
}
.search__input{
    outline: none;
    border: none;
    flex: 1;
    padding: 14px 0px;
    background-color: #eaeaea;
}
.price{
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
    margin-top: 16px;
    padding: 20px;
}
.price::after{
    position: absolute;
    content: "";
    width: 98%;
    bottom: 0;
    left: 1%;
    border-bottom: 1px dotted rgb(218, 214, 214);

}

.manipulation{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.manipulation::after{
    position: absolute;
    content: "";
    border-bottom: 1px solid rgb(218, 214, 214);
    width: 100%;
    bottom: -14px;
}
.manipulation__menu{
    display: flex ;
    align-items: center;

}
.manipulation__favorite{
    margin: 0;
    font-size: 14px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 3px;
    padding: 2px;
}
.manipulation__content{
    margin: 0;
    font-weight: 600;
    margin-left: 8px;
}
.manipulation__chat-link{
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    margin-left: 8px;
    border-radius: 3px;
    padding: 3px 6px;
}
.manipulation__chat-link:hover{
    opacity: 0.8;
}
.manipulation__icon-chat{
    font-size: 13px;
}
.manipulation__show-link{
    font-size: 14px;
    margin-left: 8px;
    text-decoration: none;
    border: 1px solid #d7d2d2;
    border-radius: 3px;
    padding: 3px 4px;
    color: #706a6a;
}

.assess{
    display: flex;
    align-items: center ;
}
.assess__delivery-link{
    text-decoration: none;
    color: #26aa99;;
    margin-right: 8px;
}
.assess__icon-question{
    margin-right: 20px;
    color: var(--primary-color);
    
}
.assess__evaluated{
    position: relative;
    font-size: 15px;
    color: #ee4d2d;;
    margin: 0;
}
.assess__evaluated::after{
    content: "";
    position: absolute;
    height: 20px;
    border-left: 1px solid rgb(218, 214, 214);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.product__list-item{
    margin-top: 28px;
    overflow-y: auto;
    height: 200px;
}
.product__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__item + .product__item{
    margin-top: 14px;
}
.product__introduce{
    display: flex;
}
.product__img{
    width: 90px;
    object-fit: contain;
}
.product__content{
    padding-left: 8px;
}
.product__name{
    font-weight: 400;
    margin: 0;
    
}
.product__type{
    margin: 0;
    margin-top: 8px;
    color: rgba(0,0,0,.54);
}
.product__quantity{
    margin: 0;
    margin-top: 8px;
}

.product__price-old{
    color: #bdbdbd;
    text-decoration: line-through;
}
.product__price-new{
    color: var(--primary-color);
}
.total2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 26px 20px 20px 20px;
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
}

.total__money{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.total__icon{
    color: var(--primary-color);
}
.total__content{
    padding-left: 4px;
    padding-right: 8px;
    font-size: 20px;
}
.total__price{
    color: var(--primary-color);
    font-size: 25px;
}
.total__btn{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.total__btn-content{
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.total__btn-all{

}
.total__btn-buy{
    min-width: 150px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 3px;
}
.total__btn-contact{
    min-width: 170px;
    margin: 0 6px;
    padding: 12px 0;
    color: #555;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.09);
}
.total__btn-see{
    min-width: 170px;
    padding: 12px 0;
    color: #555;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.09);
}
.total__btn-buy:hover{
    cursor: pointer;
    background-color: #c1432a;
}
.total__btn-contact:hover,
.total__btn-see:hover{
    opacity: 0.8;
    cursor: pointer;
}