

.category{
    margin-top: 10px;
}
.category__user{
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
}
.category__user::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    border-bottom: 1px dotted rgb(227, 224, 224);

}
.category__img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.category__information{
    margin: 0 8px;
}
.category__name{
    font-weight: 700;
}
.category__edit{
    color: #9b9b9b;
}
.category__icon{
    padding: 0 4px;
    font-size: 13px;
}
.myAccount{
    margin-top: 27px;
}
div .myAccount__icon{
    padding-bottom: 6px;
}
.myAccount__icon{
    color:#1655b6;
    margin: 0 8px;
}

.myAccount__text{
    color: var(--text-primary);
}


.myAccount__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 26px;
}
.myAccount__item{
    padding: 6px;
    color: rgb(93, 92, 92);
}

.myAccount__icon-list{
    color:#1655b6;
    margin: 0 10px;
}
.myAccount__icon-bell{
    color: var(red);
    margin: 0 9px;
    color: #ee4d2d;
    
}
.myAccount__icon-ticket{
    color: var(red);
    margin: 0 7.6px;
    color: #ee4d2d;
}

.myAccount__icon-coin{
    color: #eda500;
    margin: 0 9px;

}
.myAccount__icon-bell,.myAccount__icon-coin
,.myAccount__icon-list,.myAccount__icon-ticket{
    padding: 6px 0;
}
.myAccount__link{
    
    color: rgb(120, 118, 118);
    text-decoration: none;
}
.myAccount__link:hover{
    color: var(red);
    color: #ee4d2d;
}
.myAccount__link-list{
    
    color: var(--text-primary);
    text-decoration: none;
    color: #ee4d2d;
}
.myAccount__link-list:hover{
    color: var(red);
       color: #ee4d2d;
}
.myAccount__item-active{
    color: var(red);
}
.formClient{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 30px;
    background-color: white;
}
.formClient__content{
    position: relative;
    padding: 18px 0;;
}
.formClient__content::after{
    position: absolute;
    content: "";
    display: block;
    border-bottom: 1px dotted rgb(218, 214, 214);
    width: 100%;
    bottom: -2px;
}
.formClient__file-content,.formClient__manager-content{
    margin: 0;
}
.formClient__file-content{
    font-size: 20px;
}
.formClient__manager-content{
    font-size: 16px;
}
.form__infor{
    padding-top:30px;
}
.form__user{
    position: relative;
    padding-left: 10px;
    padding-right: 50px;
}
.form__user::after{
    position: absolute;
    content: "";
    border-right: 1px dotted rgb(227, 224, 224);
    height: 50%;
    top: 0;
    right: 0;
}
.login1{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.login__text {
    min-width: 110px;
    color: rgb(128, 126, 126);
    margin-right: 20px;
    
}
.login__text1 {
    min-width: 110px;
    color: rgb(128, 126, 126);
    margin-right: 20px;
    padding-left: 20px;
}
.margin{
    min-width: 200px;
    color: rgb(128, 126, 126);
    padding-right: 0px;
    margin-right: 0px;
 padding-left: 85px;
}
.login__input-text{
    outline-color:rgb(128, 126, 126); 
    height: 38px;
    padding: 10px;
   width: 500px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.name{
    display: flex;
   
    align-items: center;
    margin-bottom: 10px;
}
.name__text {
    display: block;
    min-width: 110px;
    padding-left: 70px;
    color: rgb(128, 126, 126);
    margin-right: 20px;
}
.email{
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    
   
}
.email__add{
    min-width: 110px;
    padding-left: 58px;
    color: rgb(128, 126, 126);
    margin-right: 20px;
}
.email__link{
    flex: 1;
    color: #0088ff;;
}
.phone{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.phone__change{
    min-width: 110px;
    padding-left: 13px;
    color: rgb(128, 126, 126);
    margin-right: 20px;
}

.phone__link{
    color: #0088ff;
    padding-left: 6px;
}
.name-shop{
    display: flex;
    align-items: center;
}
.name-shop__text{
    padding-left: 40px;
    min-width: 110px;
    color:rgb(128, 126, 126);
}
.sex{
    display: flex;
    align-items: center;
}
.input__check{
    cursor: pointer;
}
.date{
    display: flex;
    align-items: center;
}
.date__name{
    min-width: 110px;
    padding-left: 32px;
    color: rgb(128, 126, 126);
}
.date__select{
    display: flex;
    flex: 1;
    margin: 0 -5px;
}
.date__click{
    flex:1;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 8px 8px;
    margin: 0 5px;
    
}
.date__text{
    color: var(--text-primary);
    font-size: 20px;
}
.date__click:hover{
    border-color: var(red);
    
}
.link__save{
    display: inline-block;
    margin: 15px 0 20px 0;
    text-decoration: none;
    margin-left: 110px;
    color: white;
    padding: 8px 20px ;
    background-color: #ee4d2d;
    border-radius: 3px;
}
.link__save:hover{
    opacity: 0.9;
}
.myImg{
    text-align: center;
}
.myImg__show{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
.myImg__link{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 110px;
    margin-top: 20px;
    color: var(--text-primary);
    text-decoration: none;
    padding: 8px 20px;
    background-color: while;
    border:1px solid #ccc;
}
.myImg__link:hover{
    background-color: rgb(238, 238, 238);
}
.myImg__contetn{
    color:rgb(128, 126, 126);
}
