
/* Nút Để Mở Chatbox */
 .nut-mo-chatbox {
  
   color: white;
   padding: 16px 20px;
   border: none;
   cursor: pointer;
   opacity: 0.8;
   position: fixed;
   bottom: 23px;
   right: 28px;
   width: 100px;
 }
/* Ẩn chatbox mặc định */
 .Chatbox {
   display: none;
   position: fixed;
   bottom: 0;
   right: 15px;
   border: 3px solid #f1f1f1;
   z-index: 9;
 }
/* Thêm style cho form */
 .form-container {
   max-width: 300px;
   padding: 10px;
   background-color: white;
 }
/* thiết lập style textarea */
 .form-container textarea {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   border: none;
   background: #f1f1f1;
   resize: none;
   min-height: 200px;
 }
/*thiết lập style cho textarea khi được focus */
 .form-container textarea:focus {
   background-color: #ddd;
   outline: none;
 }
/* Thiết lập style cho nút trong form*/
 .form-container .btn {
   background-color: #4CAF50;
   color: rgb(255, 255, 255);
   padding: 16px 20px;
   border: none;
   cursor: pointer;
   width: 100%;
   margin-bottom:10px;
   opacity: 0.8;
 }/* Thiết lập màu nền cho nút đóng chatbox */
 .form-container .nut-dong-chatbox {
   background-color: red;
 }
/* Thêm hiệu ứng hover cho nút*/
 .form-container .btn:hover, .nut-mo-chatbox:hover {
   opacity: 1;
 }
 .avatar{
    height: 70px;
    width: 70px;
 }
 .center{
    text-align: center;
 margin-bottom: 20px;
 }

 -----------------


 




h2 {
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.chat-container {

  border-radius: 25px;

  overflow:scroll;
  padding: 15px;
  position: relative;
  width: 450px;
  height: 450px;

}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.message {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.5);
  position: relative;
  margin-bottom: 30px;
}

.message.left {
  padding: 15px 20px 15px 70px;
}

.message.right {
  align-self: flex-end;
  padding: 15px 70px 15px 20px;
}

/*.logo {
  border-radius: 50%;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.7);
  object-fit: cover;
  position: absolute;
  left: 10px;
  top: -10px;
  width: 50px;
  height: 50px;
}*/

.message.right .logo {
  left: auto;
  right: 10px;
}

.message p {
  margin: 0;
}

.text_input {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  width: 75%;
  border-radius: 10px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}