#item{
    font-size: 1em;
    text-align: left;
    margin-bottom: 10px;
}
#icon{
    color:rgb(0, 162, 255);
    margin-right: 5px;
}
.image{
    border-radius: 50px;
    height: 50px;
    width: 55px;

}
.login {
    padding: 2em 0 0;
}